<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Skalaplan</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <div
      class="flex flex-row items-stretch absolute top-0 left-0 right-0 bottom-0"
    >
      <div class="flex-1 bg-sky-950">
        <h1 class="text-4xl font-bold">Skalaplan</h1>
      </div>
      <div class="flex-auto bg-slate-200">
        <table class="table-auto">
          <thead>
            <tr>
              <th>nome</th>
              <th>cpf</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>manasses</td>
              <td>12345678909</td>
            </tr>
            <tr>
              <td>elany</td>
              <td>12345678909</td>
            </tr>
          </tbody>
          <tfoot></tfoot>
        </table>
      </div>
    </div>
  </body>
</html>
